#photo-actions #stats_ul .secret-star {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/secret-off.png') !important;
	width: 16px;
	height: 15px;
	top: 2px;
	position: absolute;
}

#secret-fave:hover, #secret-fave:focus {
	background: transparent !important;
	outline: 0 !important;
}

#photo-actions #stats_ul .secret-star.faved {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/secret.png') !important;
}